<div class="container">
  <div class="top-section">
    <div class="text-section">
      <div class="breadcrumb"></div>
      <h1>{{data.title}}</h1>
      <p>{{data.description}}</p>
      <div class="rating-reviews">
        <span *ngIf="data.label.length > 0" class="label-holder">
          <span class="label " *ngFor="let item of data.label" [class]="labelClass">{{item}}</span>
        </span>
        <span class="rating">{{data.rating}}</span>
        <span *ngIf="data.rating !== 0" class="score " [class]="renderRating(data.rating)"></span>
        <span *ngIf="data.rating === 0" class="no-review">No Review Yet</span>
        <span class="rating">({{data.total_lecture}} reviews)</span>
        <span class="reviews">&nbsp;({{data.review}} students)</span>
      </div>
      <p class="author">Created by {{data.instructors}}</p>
    </div>
  </div>
  <div class="bottom-section"></div>
  <div class="floating-holder">
    <div class="floating-section">
      <div class="img-holder">
        <img [src]="data.icons" [alt]="data.slug">
        <div class="toogle-holder">
          <div  class="heart">
            <span (click)="setWishlist()" *ngIf="!data.wishlist"><svg  style="color: red" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"> <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" fill="red"></path> </svg></span>
            <span (click)="setWishlist()" *ngIf="data.wishlist"><svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" fill="red"></path> </svg></span>
          </div>
      
          <div class="heart-full">
          </div>
        </div>
      </div>
      <div class="purchase-section">
        <div class="price">{{data.price_string}}</div>
        <button class="btn-add-to-cart">Add to cart</button>
        <button class="btn-buy-now">Buy now</button>

        <div class="money-back">
          30-Day Money-Back Guarantee
        </div>
      </div>
    </div>
  </div>
</div>