<div class="container">
  <div class="filter-holder">
    <div class="format-holder">
      <div class="">Format</div>
      <select (change)="sortFormat($event)" name="" id="">
        <option value="ASC">ASC</option>
        <option value="DESC">DSC</option>
      </select>
    </div>

    <div class="category-holder">
      <div class="">Category</div>
      <select (change)="sortCategory($event)" name="" id="">
        <option value="Price">Price</option>
        <option value="Rating">Rating</option>
      </select>
    </div>

  </div>

  <app-list-item [dataPagination]="dataPaginator"></app-list-item>

  <div class="paginator-holder">
    <button [disabled]="dataPaginator.page === 1" (click)="selectPage(1)">&laquo;</button>
    <div *ngFor="let item of pages">
      <button (click)="selectPage(item.no)">{{item.no}}</button>
    </div>
    <button [disabled]="dataPaginator.page === dataPaginator.total_pages" (click)="selectPage(dataPaginator.total_pages)">&raquo;</button>
  </div>

</div>